
$main-font: 'montserratregular';
$light-font: 'montserratlight';
$bold-font: 'montserratbold';

$main-color: #3F7CF9; //  #0EA0FB;
$main-color-dark: #2A52A6;
$main-color-darker:#293C50;
$main-bg-color: #ffffff; //  #ffffff #077A54

// $main-color: #fddd7b; // #ffe669

// $dark-green: green; 

// $font-box-head-green: #bedf00;
// $font-box-head-green-font: #6a7d1e;
// $font-box-head-green-ligth: #E3EE9F;

// $font-box-head-orange: #ffc100;  // #ffc100
// $font-box-head-orange-font: #9f7800;